        html {
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            background: url("../images/background.jpg") no-repeat top center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-color: #5D5C61;
        }

        .aside {
            top: 0;
            bottom: 0;
            left: 0;
            position: fixed;
            overflow: hidden;
            width: 20%;
            color: #fff;
            text-align: left;
            background-color: #557A95CC;
        }

        .aside-inner {
            position: relative;
            padding: 12%;
            align-content: center;
        }

        .aside-cardbox {
            position: relative;
            text-align: center;
            display: block;
            -webkit-font-smoothing: antialiased;
            color: inherit;
            text-decoration: none;
        }
        .aside-cardbox:hover {
            text-decoration: none;
        }
        .aside-cardbox-avatar {
            border-radius: 50%;
        }
        .aside-cardbox-h2 {
            margin-bottom: 0.2em;
        }

        .aside-navbar {
            line-height: 1em;
        }

        .navlink {
            color: #fff;
            text-decoration: none;
            opacity: 0.5;
        }

        .navlink:hover {
            opacity: 1;
        }

        .navlink-selected {
            color: #fff;
            text-decoration: none;
            opacity: 1;
        }

        .aside-social {
            font-size: 24px;
            text-decoration: none;
        }

        .icon {
            color: #fff;
            padding-right: 2px;
            opacity: 0.5;
        }

        .icon:hover {
            opacity: 1;
        }

        .main {
            margin-left: 25%;
            font-size: 18px;
        }

        .main-paper{
            position: absolute;
            left: 20%;
            top: 0px;
            bottom: 0px;
            right: 0px;
            font-size: 18px;
        }
        .main-content{
            z-index: 0;
            padding: 5% 0%;
            position: absolute;
            left: 5%;
            right: 10%;
            top: 0px;
            bottom: 0px;
            right: 0px;
            color: black;
        }     

        .article{
            position: static;
        }

        .article-info {
            z-index: 1;
            position: absolute;
            width: 5%;
            background: #fff;
            left: -5%;
            padding: 0.5% 0.5%;
            border-top-left-radius: 4%;
            border-bottom-left-radius: 4%;
            
        }
        .article-content {
            background: white;
            position: relative;
            padding: 2%;
            width: 85%;
            min-height: 30%;
        }

        .home {
            padding: 10% 5%;
            color: #fff;
        }

        .home-title {
            display: block;
            font-size: 3em;
            margin-top: 0.67em;
            margin-bottom: 0.2em;
            margin-left: 0;
            margin-right: 0;
        }

        .home-subtitle {
            display: block;
            font-size: 1.5em;
            margin-top: 0em;
            margin-bottom: 1.5em;
            margin-left: 0;
            margin-right: 0;
            opacity: 0.8;
        }

        .home-p {
            display: block;
            font-size: 1em;
            margin-top: 0.4em;
            margin-bottom: 0.2em;
            margin-left: 0;
            margin-right: 0;
            opacity: 0.7;
        }